## Copyright 2020-2022 Josh Grancell. All rights reserved.
## Use of this source code is governed by an MIT License
## that can be found in the LICENSE file.

# Security / Code Scanning
.scannerwork
cover.out
coverage.txt
gosec-report.json
sonar-project.properties

# Test-Generated Data
